body {
    text-align: center;
}

.container {
    margin: auto;
    background-color: rgb(211, 227, 241);
    width: 700px;
    padding: 1em;
    border-radius: .5em;
    
}

#completed {
    width: 100%;
    margin: 0 auto;
    top:20%;
    position: absolute;
    

    /* top: 50%; */
    /* left: 50%; */
    /* z-index: 15; */
    /* position: absolute; */
    
    /* height: 100%; */

}

.card {
    width: 125px;
    height: 125px;
    margin: 1.25em;
    border-radius: .5em;
    
    display: inline-block;
}

.card__face_up {
    background-color: rgb(230, 165, 62);
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: .5em;
}


.card__face_down {
    width: 100%;
    height: 100%;
    border-radius: .5em;
    background-color: rgb(35, 102, 211);
}

.card__invalid_match {
    background-color: rgb(155, 27, 18);
}
.card__valid_match {
    background-color: rgb(44, 189, 51);
}

.completed__replay {
    padding: 1em;
    background-color: rgb(233, 236, 28);
    color: gray;
    border-radius: 1em;
}

svg {
    pointer-events: none;
    visibility: hidden;
}

.deactiveCard {
    pointer-events: none;
}

.hide {
    display: none;
}

@media screen and (max-width:480px) {
    .completed__congrat_img {
        width: 100%;
    }
}